{% extends 'base.html.twig' %}

{% block title %} Form {% endblock %}

{% block body %}
    <div class="container">
        <h2>Formulary Page</h2>
        <div>
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.lastName) }}</div>
                </div>
            {{ form_rest(form)}} {# form_rest displays the rest of the fields not personalized after form_start #}
                <div class="row text-center">
                    <button type="submit" class="btn btn-primary btn-sm"> Save</button>
                </div>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}