{% extends 'base.html.twig' %}

{% block title %}Authors List {% endblock %}


{% block body %}
    <div class="container mt-3">
        <h2>
            <span class="float-end">
                <a href="{{ path("app_newAuthor") }}" class="btn btn-success btn-sm">Add</a>
            </span>
            List of Authors
        </h2>

        <div class="row">    
            <div class="col-sm-3">
                    {{ include("front/template_part/_menu.html.twig", { pp: 'author', current: 0 }) }}
            </div>
            <div class="col-sm-9">{% for message in app.flashes('success') %}
            
                <div class="row d-flex flex-row justify-content mb-2">
                    <div class="alert alert-success">{{ message }}</div>
                </div>
            {% endfor %}
                <ul class="list-group">
                    {% for author in authors %}
                    <li class="list-group-item">   
                        <span class="float-end d-flex flex-row justify-content-between"> 
                            {# make a edit button for each author #}
                            <a href="{{ path("app_newAuthor", {id: author.id}) }}" class="btn btn-outline-warning btn-sm">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            {# make a delete button for each author #}
                            <form action="{{ path("app_deleteAuthor", {id: author.id}) }}" method="post" onsubmit="return confirm('Are you sure ?')" class="ms-2">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~author.id) }}">
                                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </span>
                    {{ author.fullName }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
     </div>
{% endblock %}