{%extends "base.html.twig" %} 
{% block title %}Books List {% endblock %}

{% block body %}
    <h2 class="container">Books</h2>
    <div class="container row">
        <div class="col-sm-3">
            {#<ul><li><a href='{{ path('app_home') }}'>Home</li>   function that calls the good root, even if we change it in the controller
            <li><a href="{{ path('app_page', { numPage: 1 }) }}">Page 1</a></li>
            <li><a href="{{ path('app_page', { numPage: 2 }) }}">Page 2</a></li></ul> #}
            
            {{ include("front/template_part/_menu.html.twig", { pp: 'books', current: 0 }) }}
        </div>

       <div class="col-sm-9"> 
            <div class="row d-flex flex-row justify-content-between">
            {% for book in books %}
            <div class="card mb-2 d-inline-block" style="width:30%">
                <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <div class="card-text">
                    <p>Author : {{ book.author }}</p>
                    <p>ISBN : {{ book.isbn }}</p>
                    <p>Synopsis : {{ book.synopsis }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}